

<p class="underline">Unless noted, all fields are required.</p>


<form class="page2form">
	<fieldset>
		<legend>PERSONAL INFORMANTION</legend>	
					<ul>
						<li class="inputs">
							First Name:
							<input class="inputbox" type="text" pattern="[A-Za-z]{3,12}" ng-model="input.firstName" />
						</li>
						<li class="inputs">
							Last Name:
							<input class="inputbox" type="text" pattern="[A-Za-z]{3,12}" ng-model="input.lastName" />
						</li>
						<li class="inputs">
							Current Address:
							<input class="inputbox" type="text" pattern="[A-Za-z ]{3,20}" ng-model="input.currentAddress" />
						</li>
						<li class="inputs">
							Current Address2:
							<input class="inputbox" type="text" pattern="[A-Za-z ]{3,30}" ng-model="input.currentAddress2" />
						</li>
						<li class="inputs">
							City:
							<input class="inputbox" type="text" pattern="[A-Za-z]{3,12}" ng-model="input.city" />
						</li>
						<li class="inputs">
							State:
							<input class="inputbox" type="text" pattern="[A-Za-z ]{3,12}" ng-model="input.State" />
						</li>
						<li class="inputs">
							ZIP:
							<input class="inputbox" type="number" ng-model="input.ZIP" />
						</li>
						<li class="inputs">
							Have you lived for more than two years at your current address?
							<br>
							<input type="radio" ng-model="input.radio"/>Yes
							<input type="radio" ng-model="input.radio" />No
						</li>
						<li class="inputs">
							Phone:
							<input class="inputbox" type="text" ng-model="input.Phone" />
						</li>
						<li class="inputs">
							Email:
							<input class="inputbox" type="text" ng-model="input.Email" />
						</li>
					</ul>
			<button type="submit" class='btn btn-primary btn-sm' ng-click='Submit()' href='#page3' >Submit</button>
	</fieldset>
</form>
